<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skull</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>100</integer>
		<key>power</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>4</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skullbody</key>
	<dict>
		<key>image</key>
		<string>skullbody.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>1</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>none</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>boom1</key>
	<dict>
		<key>image</key>
		<string>boom.gif</string>
		<key>frame</key>
		<integer>3</integer>
		<key>pattern</key>
		<string>boom</string>
		<key>hpMax</key>
		<integer>60</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>4</integer>
		<key>boomType</key>
		<string>none</string>
		<key>lighten</key>
		<true/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>boom2</key>
	<dict>
		<key>image</key>
		<string>boom2.gif</string>
		<key>frame</key>
		<integer>3</integer>
		<key>pattern</key>
		<string>boom</string>
		<key>hpMax</key>
		<integer>60</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>4</integer>
		<key>boomType</key>
		<string>none</string>
		<key>lighten</key>
		<true/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>boom3</key>
	<dict>
		<key>image</key>
		<string>boom3.gif</string>
		<key>frame</key>
		<integer>3</integer>
		<key>pattern</key>
		<string>boom</string>
		<key>hpMax</key>
		<integer>60</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>4</integer>
		<key>boomType</key>
		<string>none</string>
		<key>lighten</key>
		<true/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>boom4</key>
	<dict>
		<key>image</key>
		<string>boom4.gif</string>
		<key>frame</key>
		<integer>3</integer>
		<key>pattern</key>
		<string>boom</string>
		<key>hpMax</key>
		<integer>60</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>4</integer>
		<key>boomType</key>
		<string>none</string>
		<key>lighten</key>
		<true/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>missile</key>
	<dict>
		<key>image</key>
		<string>w_missile.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>goAhead</string>
		<key>hpMax</key>
		<integer>1</integer>
		<key>power</key>
		<integer>1</integer>
		<key>speed</key>
		<integer>8</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>lightning</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>beam</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>solar</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skull - 9</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skull - 10</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skull - 11</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skull - 12</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skull - 13</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
	<key>skull - 14</key>
	<dict>
		<key>image</key>
		<string>skull.png</string>
		<key>frame</key>
		<integer>1</integer>
		<key>pattern</key>
		<string>none</string>
		<key>hpMax</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>boomType</key>
		<string>hero</string>
		<key>lighten</key>
		<false/>
		<key>opacity</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
